
.course-info-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}
table.course-info-basic{
    border: 1px solid rgb(89, 171, 120);
    border-radius: 6px;
    font-weight: 250;
    width: 40%
}